html{
  scroll-behavior: smooth;
}
._img {
  display: block;
  max-width: 100%;
  height: auto;
  fill: collection-color(social--link--color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
._flex-center {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
._backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 0.2s;
}
._is-hidden {
  opacity: 0;
  pointer-events: none;
}

._active {
  color: collection-color(action-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.section {
  padding: 94px 0;
}
