.header{
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.logo {
  display: flex;
  align-items: center;

  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(21 / 16);
  text-decoration: none;
  color: collection-color(links-nav);
}
.menu{
  &__list {
    display: flex;
    li {

      cursor: pointer;
    }
    li + li {
      margin-left: 44px;
    }
  }
  &__link {
    position: relative;
    display: block;
    padding: 42px 0;
    @include font-modify(#000, 14, 500, 0.02em, 16);
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:hover {
    color: collection-color(action-color);
  }
  &__link:focus {
    outline-color: collection-color(action-color);
    color: collection-color(action-color);
  }

}
