<section class='contacts'>
  <div class='container'>
    <h2 class='contacts__title'>Contact us</h2>
    <div class='contacts__row'>
      <select class='contacts__dropdown dropdown'>
        <option class='dropdown__item'>City</option>
        <option class='dropdown__item'>Canandaigua, NY</option>
        <option class='dropdown__item'>New York City</option>
        <option class='dropdown__item'>Yonkers, NY</option>
        <option class='dropdown__item'>Sherrill, NY</option>
      </select>
    </div>
  </div>
</section>