<section class='contacts'>
  <div class='container'>
    <h2 class='contacts__title'>Contact us</h2>
    <div class='contacts__row'>
      <div class='contacts__list'>
        <div class='dropdown__label'>City
          <div class='ac-item__icon'>
            <svg class='icon' width='22' height='22'>
              <use xlink:href='./images/icons/accordions.svg#accordion_btn'></use>
            </svg>
          </div>
        </div>
        <ul class='contacts__dropdown dropdown'>
          <li class='dropdown__item'>Canandaigua, NY</li>
          <li class='dropdown__item'>New York City</li>
          <li class='dropdown__item'>Yonkers, NY</li>
          <li class='dropdown__item'>Sherrill, NY</li>
        </ul>

      </div>


    </div>
  </div>
</section>