<footer class="footer">
  <div class="container">
    <div class='footer__row'>
      <p class='footer__data'>© <span>2023</span>AlVerba</p>
      <p class='footer__content'>Flower market</p>
      <ul class='footer__social social'>
        <li class="social__link">
          <a href="">
            <svg class="icon" width="28" height="28">
              <use xlink:href="./images/icons/social.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social__link">
          <a href="">
            <svg class="icon" width="28" height="28">
              <use xlink:href="./images/icons/social.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social__link">
          <a href="">
            <svg class="icon" width="28" height="28">
              <use xlink:href="./images/icons/social.svg#twitter"></use>
            </svg>
          </a>
        </li>
        <li class="social__link">
          <a href="">
            <svg class="icon" width="28" height="28">
              <use xlink:href="./images/icons/social.svg#pinterest"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>