<header class="header">
  <div class="container">
    <a href="#home" class="header__logo logo">
      <div class="logo__icon">
        <svg class="icon" width="22" height="22">
          <use xlink:href="../images/icons/icons.svg#logo"></use>
        </svg>
      </div>
      Plants
    </a>
    <nav class="header__menu menu">
      <ul class="menu__list">
        <li><a class="menu__link">Home</a></li>
        <li><a class="menu__link">About</a></li>
        <li><a class="menu__link">Service</a></li>
        <li><a class="menu__link">Price</a></li>
        <li><a class="menu__link">Contacts</a></li>
      </ul>
    </nav>

  </div>
</header>