<section class='price' id='price'>
  <div class='container'>
    <div class='price__row'>
      <p class='sub-title'>Price</p>
      <h2 class='title'>Our best <span>gardeners</span> are <br> ready to help you</h2>
    </div>
    <div class='price__content'>
      <ul class='price-accordion accordion'>
        <li class='accordion__item ac-item '>
          <div class='ac-item__header'>
            Basics
            <div class='ac-item__icon'>
              <svg class='icon' width='22' height='22'>
                <use xlink:href='./images/icons/accordions.svg#accordion_btn'></use>
              </svg>
            </div>
          </div>
          <div class='ac-item__description decrip'>
            <p class='decrip__content'>Release of Letraset sheets containing Lorem Ipsum passages, and more recently</p>
            <p class='decrip__price'><span>$15</span> / per hour</p>
            <button type='button' class='decrip__btn'>Order</button>
          </div>
        </li>
        <li class='accordion__item ac-item  '>
          <div class='ac-item__header'>
            Basics
            <div class='ac-item__icon'>
              <svg class='icon' width='22' height='22'>
                <use xlink:href='./images/icons/accordions.svg#accordion_btn'></use>
              </svg>
            </div>
          </div>
          <div class='ac-item__line'></div>
          <div class='ac-item__description decrip'>
            <p class='decrip__content'>Release of Letraset sheets containing Lorem Ipsum passages, and more recently</p>
            <p class='decrip__price'><span>$25</span> / per hour</p>
            <button type='button' class='decrip__btn'>Order</button>
          </div>
        </li>
        <li class='accordion__item ac-item  '>
          <div class='ac-item__header'>
            Basics
            <div class='ac-item__icon'>
              <svg class='icon' width='22' height='22'>
                <use xlink:href='./images/icons/accordions.svg#accordion_btn'></use>
              </svg>
            </div>
          </div>
          <div class='ac-item__line'></div>
          <div class='ac-item__description decrip'>
            <p class='decrip__content'>Release of Letraset sheets containing Lorem Ipsum passages, and more recently</p>
            <p class='decrip__price'><span>$35</span> / per hour</p>
            <button type='button' class='decrip__btn'>Order</button>
          </div>
        </li>
      </ul>
      <button type='button' class='contact-us__btn'>Contact us</button>
    </div>





  </div>
</section>