<section class='service'>
  <div class='container'>
    <div class='navigation'>
      <h2 class='navigation__title'>Service and our projects</h2>
      <ul class='navigation__filter filter'>
        <li>
          <button type='button' class='filter__btn'>Gardens</button>
        </li>
        <li>
          <button type='button' class='filter__btn'>Lawn</button>
        </li>
        <li>
          <button type='button' class='filter__btn'>Lawn</button>
        </li>
      </ul>
    </div>
    <ul class='service__list list'>
      <li class='list__item item'>
        <a class='item__card' href='#'>
          <div class='item__img'>
            <picture>
              <source srcset='./images/service/desktop/gardensfirst.webp 1x,
                              ./images/service/desktop/gardensfirst@2x.webp 2x'
                      type='image/webp'
                      media='(min-width: 1440px)'>

              <source srcset='./images/service/desktop/gardensfirst.jpg 1x,
                              ./images/service/desktop/gardensfirst@2x.jpg 2x'
                      media='(min-width: 14400px)'>
              <img class='_img' src='./images/service/desktop/gardensfirst.jpg' alt='service gardens' width='450'>
            </picture>
          </div>
          <div class='item__content'>
            <p class='item__type'>Garden care</p>
            <p class='item__title'>Lorem Ipsum has been the industry</p>
          </div>
        </a>
      </li>
      <li class='list__item item'>
        <a class='item__card' href='#'>
          <div class='item__img'>
            <picture>
              <source srcset='./images/service/desktop/gardensfirst.webp 1x,
                              ./images/service/desktop/gardensfirst@2x.webp 2x'
                      type='image/webp'
                      media='(min-width: 1440px)'>

              <source srcset='./images/service/desktop/gardensfirst.jpg 1x,
                              ./images/service/desktop/gardensfirst@2x.jpg 2x'
                      media='(min-width: 14400px)'>
              <img class='_img' src='./images/service/desktop/gardensfirst.jpg' alt='service gardens' width='450'>
            </picture>
          </div>
          <div class='item__content'>
            <p class='item__type'>Garden care</p>
            <p class='item__title'>Lorem Ipsum has been the industry</p>
          </div>
        </a>
      </li>
      <li class='list__item item'>
        <a class='item__card' href='#'>
          <div class='item__img'>
            <picture>
              <source srcset='./images/service/desktop/gardensfirst.webp 1x,
                              ./images/service/desktop/gardensfirst@2x.webp 2x'
                      type='image/webp'
                      media='(min-width: 1440px)'>

              <source srcset='./images/service/desktop/gardensfirst.jpg 1x,
                              ./images/service/desktop/gardensfirst@2x.jpg 2x'
                      media='(min-width: 14400px)'>
              <img class='_img' src='./images/service/desktop/gardensfirst.jpg' alt='service gardens' width='450'>
            </picture>
          </div>
          <div class='item__content'>
            <p class='item__type'>Garden care</p>
            <p class='item__title'>Lorem Ipsum has been the industry</p>
          </div>
        </a>
      </li>
      <li class='list__item item'>
        <a class='item__card' href='#'>
          <div class='item__img'>
            <picture>
              <source srcset='./images/service/desktop/gardensfirst.webp 1x,
                              ./images/service/desktop/gardensfirst@2x.webp 2x'
                      type='image/webp'
                      media='(min-width: 1440px)'>

              <source srcset='./images/service/desktop/gardensfirst.jpg 1x,
                              ./images/service/desktop/gardensfirst@2x.jpg 2x'
                      media='(min-width: 14400px)'>
              <img class='_img' src='./images/service/desktop/gardensfirst.jpg' alt='service gardens' width='450'>
            </picture>
          </div>
          <div class='item__content'>
            <p class='item__type'>Garden care</p>
            <p class='item__title'>Lorem Ipsum has been the industry</p>
          </div>
        </a>
      </li>
      <li class='list__item item'>
        <a class='item__card' href='#'>
          <div class='item__img'>
            <picture>
              <source srcset='./images/service/desktop/gardensfirst.webp 1x,
                              ./images/service/desktop/gardensfirst@2x.webp 2x'
                      type='image/webp'
                      media='(min-width: 1440px)'>

              <source srcset='./images/service/desktop/gardensfirst.jpg 1x,
                              ./images/service/desktop/gardensfirst@2x.jpg 2x'
                      media='(min-width: 14400px)'>
              <img class='_img' src='./images/service/desktop/gardensfirst.jpg' alt='service gardens' width='450'>
            </picture>
          </div>
          <div class='item__content'>
            <p class='item__type'>Garden care</p>
            <p class='item__title'>Lorem Ipsum has been the industry</p>
          </div>
        </a>
      </li>
      <li class='list__item item'>
        <a class='item__card' href='#'>
          <div class='item__img'>
            <picture>
              <source srcset='./images/service/desktop/gardensfirst.webp 1x,
                              ./images/service/desktop/gardensfirst@2x.webp 2x'
                      type='image/webp'
                      media='(min-width: 1440px)'>

              <source srcset='./images/service/desktop/gardensfirst.jpg 1x,
                              ./images/service/desktop/gardensfirst@2x.jpg 2x'
                      media='(min-width: 14400px)'>
              <img class='_img' src='./images/service/desktop/gardensfirst.jpg' alt='service gardens' width='450'>
            </picture>
          </div>
          <div class='item__content'>
            <p class='item__type'>Garden care</p>
            <p class='item__title'>Lorem Ipsum has been the industry</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>