.container {
  padding-left: 109px;
  padding-right: 109px;

  margin-left: auto;
  margin-right: auto;
  @include for-size(mobile) {
    width: 480px;
  }

  @include for-size(tablet) {
    width: 750px;
  }

  @include for-size(desktop) {
    width: 1422px;
  }
}
