.about {
  .container {
    display: flex;
    justify-content: flex-start;
    @include background-pos(no-repeat,right 108px top 93px, auto);
    //background-position: right 30px top 93px;
    @include for-size(desktop) {
      background-image: url(../images/about/desktop/houseplant.jpg);
      @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
        background-image: url(../images/about/desktop/houseplant@2x.jpg);
      }
    }
  }
}


.about-content {
  width: 50%;
  &__title {
    margin: 161px 86px 0 0;
    font-family: 'Inika', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: calc(52 / 40);
    color: collection-color(action-color);

    span {
      color: collection-color(main-color);
    }
  }

  &__content {
    margin: 40px 78px 0 0;
    padding-bottom: 155px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: calc(30 / 20);
    color: collection-color(text-color);
  }
}

.about-img {

}

