.footer {
  // .footer__row
  &__row {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 22px 0;


    @include for-size(tablet) {
      padding: 33px 0;
    }
    @include for-size(desktop) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 40px 0;

    }


  }

  // .footer__data
  &__data {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: calc(24 / 20);
    @include for-size(desktop) {
      line-height: calc(50 / 20);
    }

    span {
      margin: 0 20px;
    }
  }

  // .footer__content
  &__content {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    padding: 16px 0;
    line-height: calc(24 / 20);
    @include for-size(desktop) {
      line-height: calc(50 / 20);
      padding: 0;
    }

  }

  // .footer__social
  &__social {
    display: flex;
    align-items: center;

    li + li {
      margin-left: 20px;
    }
  }
}

.container {
}

.social {
  // .social__link
  &__link {
  }
}

.icon {
}