.price {
  // .price__row
  &__row {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 150px;
    @include background-pos(no-repeat,right 50px top 140px, auto);
    @include for-size(desktop) {
      background-image: url(../images/price/desktop/leafs-bg.png);
      @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
        background-image: url(../images/price/desktop/leafs-bg@2x.png);
      }
    }
  }





  .sub-title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: calc(48 / 40);
    color: #000000;
  }

  .title {

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: calc(50 / 40);
    color: #000000;

    span {
      color: collection-color(main-color);
    }
  }
}
.price-accordion {
}

.accordion {
  display: flex;
  flex-direction: column;
  padding: 34px 41px;
  border: 1px solid #E3E1D5;
  border-radius: 20px;
  // .accordion__item
  &__item {
  }
  &__item + &__item {
    margin-top: 32px;
  }
}

.item {
  // .item__header
  &__header {
    display: flex;
    align-items: center;
    padding: 16px 40px;
    justify-content: space-around;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: calc (20 / 20);

    background: #EDF2EC;
    border-radius: 20px;
    border-color: #EDF2EC;
  }

  // .item__icon
  &__icon {
  }

  // .item__description
  &__description {
  }
}

.icon {
}

